.App {
  text-align: center;
}

.nav-bar {
  background-color: #395e96;
  height: 3.5em;
  left: 0;
  right: 0;
  top: 0;
  display: flex;
  align-content: center;
  position: fixed;
  z-index: 1;
  border-bottom: 1px black solid;
  .nav-icon-container {
    width: 40%;
    display: flex;
    .nav-icon {
      color: white;
      font-size: 2em;
      align-self: center;
      padding-left: 1.3em;
    }
  }
  .nav-text-container {
    width: 60%;
    display: flex;
    p {
      color: white;
      font-size: 1.5em;
      align-self: center;
      font-family: 'Times New Roman';
    }
  }
}

.side-bar {
  position: fixed;
  top: 3.5em;
  left: -0.5em;
  background-color: lightgrey;
  height: 100vh;
  width: 25%;
  display: flex;
  justify-content: center;
  p {
    position: relative;
    top: 5em;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1em;
  }
}

.content-feed {
  position: fixed;
  display: flex;
  top: 3.5em;
  left: 24%;
  height: 100vh;
  width: 76%;
  justify-content: center;
  padding-top: 2em;
}

.tweet-container {
  display: flex;
  height: 8em;
  width: 85%;
  border: 2px solid black;
  background-color: lightskyblue;
  .picture-container {
    width: 22%;
    display: flex;
    justify-content: center;
    align-items: center;
    .picture-border {
      height: 80%;
      width: 80%;
      border: 1px solid black;
    }
  }
  .message-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .tweet-container {
      width: 100%;
      flex: 10;
      border: 0;
      p {
        font-family: 'Helvetica';
        padding: 0px 10px;
      }
    }
    .like-container {
      width: 100%;
      flex: 3.5;
      display: flex;
      justify-content: flex-end;
      .like-icon {
        margin-right: 2em;
        color: white;
        font-size: 1.5em;
      }
    }
  }
}
